*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: padrao, sans-serif;
  
}

html{
  background: linear-gradient(to bottom, black, rgb(188, 253, 231));
}

@font-face {
  font-family: padrao;
  src: url(./fonts/Louis\ George\ Cafe\ Bold.ttf);
}